/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
**/target/

#IDEA specific
**/.idea/workspace.xml
**/.idea/tasks.xml

#OSX specific
.DS_Store

#project specific
/src/test/resources/playground.conf